@keyframes bar_div_1 {
  0% {
    height: 5px;
  }
  25% {
    height: 140px;
  }
  50% {
    height: 68px;
  }
  100% {
    height: 208px;
  }
}

@keyframes icon_world {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
<<<<<<< HEAD:stylesheets 12.37.32/animation.css
@keyframes plus_rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(90deg);
  }
  75% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes youWin {
  0%,
  50% {
    background-color: #2dfebb;
    font-weight: 400;
  }
  50.001%,
  100% {
    background-color: #061e2a;
    border: 0.0781vw solid #2dfebb;
    font-weight: 400;
  }
}

@keyframes youWinText {
  0%,
  50% {
    color: #061e2a;
  }
  50.001%,
  100% {
    color: #2dfebb;
  }
}
@keyframes firstImage {
  0%,
  50% {
    opacity: 1;
  }
  50.001%,
  100% {
    opacity: 0;
  }
}

@keyframes secondImage {
  0%,
  50% {
    opacity: 0;
  }
  50.001%,
  100% {
    opacity: 1;
  }
}
@keyframes scrollDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
@keyframes glowWave {
  0%,
  40% {
    opacity: 0;
    transform: scale(0.8);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }
  60% {
    opacity: 1;
    transform: scale(1);
  }
  70%,
  100% {
    opacity: 0;
    transform: scale(0.8);
  }
}

@keyframes Cardio {
  0% {
    transform: translateY(-50%) translateX(0);
  }
  100% {
    transform: translateY(-50%) translateX(-50%);
  }
}
@keyframes firstImage {
  0%,
  50% {
    opacity: 1;
  }
  50.001%,
  100% {
    opacity: 0;
  }
}

@keyframes secondImage {
  0%,
  50% {
    opacity: 0;
  }
  50.001%,
  100% {
    opacity: 1;
  }
}
@keyframes strobe {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes rect {
  0%,
  100% {
    transform: scale(0.2);
  }
  50% {
    transform: scale(1);
  }
}
@keyframes firstImage {
  0%,
  50% {
    opacity: 1;
  }
  50.001%,
  100% {
    opacity: 0;
  }
}

@keyframes secondImage {
  0%,
  50% {
    opacity: 0;
  }
  50.001%,
  100% {
    opacity: 1;
  }
}
@keyframes identifier {
  0%,
  50% {
    content: "23859.0";
  }
  50%,
  55% {
    content: "46559.2";
  }
  55%,
  60% {
    content: "3859859.4";
  }
  60%,
  65% {
    content: "568208.6";
  }
  65%,
  70% {
    content: "867498.6 ";
  }
  70%,
  75% {
    content: "238208.8";
  }
  75%,
  80% {
    content: "974908.0";
  }
  80%,
  100% {
    content: "69349.8";
  }
}
@keyframes chainGlow {
  0%,
  7%,
  69% {
    background-color: transparent;
    border-color: #f0f0f0;
  }
  7.7%,
  15.4% {
    background-color: #f0f0f0;
    border-color: #fff;
  }
  69%,
  100% {
    background-color: transparent;
    border-color: #f0f0f0;
    box-shadow: none;
  }
}
=======
>>>>>>> dbcb4ba46ba4d71e6d811ac40fd2472737161dd2:stylesheets/animation.css
