@keyframes bar_div_1 {
  0% {
    height: 5px;
  }
  25% {
    height: 140px;
  }
  50% {
    height: 68px;
  }
  100% {
    height: 208px;
  }
}

@keyframes icon_world {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
