* {
  box-sizing: border-box;
}
body {
  background-color: #061e2a;
  font-family: JetBrainsMono;
}
.flex_div_1_2_3_4 {
  display: flex;
  flex-direction: row;
  gap: 0px;
}
/* flex 1 2 dives */
.flex_div1_div3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  gap: 0px;
}
/* 1 div */
#div_1 {
  width: 701px;
  overflow: hidden;
  height: 440px;
  border-right: 1px dashed #f0f0f0;
  border-bottom: 1px dashed #f0f0f0;
  background-image: url("../images/background_div1.svg");
  background-color: #061e2a;
  background-size: 100%;
  position: relative;
}
.flex_scales {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 141px;
  position: absolute;
  top: 50px;
  right: 60px;
}
.scale_div_1 {
  display: flex;
  flex-direction: column;
  width: 61px;
  height: 248px;
  justify-content: space-between;
}
.text_under_scale {
  font-size: 16px;
  font-weight: 400;
  text-decoration: underline;
  color: #f0f0f0;
}
.flex_right_scale_div1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50px;
}
.bar_stroke_div1 {
  border: 1px solid #f0f0f0;
  width: 27px;
  height: 215px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
/* animation */
.bar_div1 {
  background-color: #f0f0f0;
  width: 20px;
  height: 140px;
  animation: bar_div_1 5s ease-in-out infinite alternate;
}

.bar_div1 + img {
  width: 10px;
}
.min_scale_flex {
  display: flex;
  flex-direction: column;
}
.min_scale {
  width: 26px;
  height: 24px;
  border: 1px solid #f0f0f0;
  background-color: transparent;
  /* 13s = 9s на волну + 4s пауза */
  animation: chainGlow 13s infinite ease-in-out;
}

.min_scale:nth-of-type(1) {
  animation-delay: 8s;
}
.min_scale:nth-of-type(2) {
  animation-delay: 7s;
}
.min_scale:nth-of-type(3) {
  animation-delay: 6s;
}
.min_scale:nth-of-type(4) {
  animation-delay: 5s;
}
.min_scale:nth-of-type(5) {
  animation-delay: 4s;
}
.min_scale:nth-of-type(6) {
  animation-delay: 3s;
}
.min_scale:nth-of-type(7) {
  animation-delay: 2s;
}
.min_scale:nth-of-type(8) {
  animation-delay: 1s;
}
.min_scale:nth-of-type(9) {
  animation-delay: 0s;
}

@keyframes chainGlow {
  /* Фаза горения каждого кубика (0-9 секунд) */
  0%,
  7%,
  69% {
    background-color: transparent;
    border-color: #f0f0f0;
    box-shadow: none;
  }
  7.7%,
  15.4% {
    background-color: #f0f0f0;
    border-color: #fff;
    box-shadow: 0 0 10px #fff;
  }

  /* Пауза после того как все сгорели (69%-100%) */
  69%,
  100% {
    background-color: transparent;
    border-color: #f0f0f0;
    box-shadow: none;
  }
}

.min_scale:last-of-type {
  width: 26px;
  height: 24px;
  border-right: 1px solid #f0f0f0;
  border-left: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}

.flex_max_mid_min p {
  font-size: 12px;
  color: #f0f0f0;
  text-decoration: underline;
  font-weight: 400;
}
.flex_max_mid_min {
  display: flex;
  flex-direction: column;
  height: 217px;
  justify-content: space-between;
}

/* #right_scale_div_1 {
  width: 11px;
  height: 217px;
} */

.flex_p_div1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 590px;
  margin: auto;
  position: absolute;
  bottom: 60px;
}
.flex_p_div1 p {
  font-size: 28px;
  color: #f0f0f0;
  text-decoration: underline;
  font-weight: 400;
}
/* div 2 */
#div_2 {
  width: 579px;
  height: 285px;
  /* border-bottom: 1px dashed #f0f0f0; */
  padding: 60px;
  align-items: center;
  background-size: 100% auto;
  margin-left: 60px;
}
#div_2 p {
  font-size: 85px;
  line-height: 70%;
  font-family: P95-CYR;
  color: #2dfebb;
  margin: auto;
}
.font_D_div2 {
  font-family: Doppelganger;
  font-size: 85px;
  color: #2dfebb;
}
/* flex 3 4 dives */
.flex_div2_div4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: auto;
  gap: 0px;
  margin-left: -150px;
}
/* div 3 */
#div_3 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px dashed #f0f0f0;
  border-right: 1px dashed #f0f0f0;
  width: 627px;
  height: 470px;
  position: relative;
}
#div_3 img {
  margin: auto;
  width: 200px;
}
.rect_div3 {
  border: 1px solid #f0f0f0;
  width: 64px;
  height: 64px;
  position: absolute;
  left: 173px;
  bottom: 150px;
}
.rect_2_div3 {
  border: 1px solid #f0f0f0;
  width: 35px;
  height: 35px;
  position: absolute;
  right: 288px;
  bottom: 250px;
}
.circle_div_3 {
  color: #f0f0f0;
  border: 1px solid #f0f0f0;
  border-radius: 100%;
}
.circle_div_3:nth-of-type(1) {
  width: 53px;
  height: 53px;
}
.circle_div_3:nth-of-type(2) {
  width: 43px;
  height: 43px;
}
.circle_div_3:nth-of-type(3) {
  width: 16px;
  height: 16px;
}

.circle_div_3:nth-of-type(4) {
  width: 78px;
  height: 78px;
}
.flex_circles_div_3 p {
  color: #f0f0f0;
  font-size: 12px;
  font-weight: 400;
}
.flex_circles_div_3 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  align-items: center;
  justify-content: center;
}
.flex_circles_div_3:nth-of-type(1) {
  left: 108px;
  top: 91px;
}
.flex_circles_div_3:nth-of-type(2) {
  flex-direction: row;
  left: 191px;
  top: 61px;
}
.flex_circles_div_3:nth-of-type(3) {
  right: 179px;
  bottom: 194px;
}

.flex_circles_div_3:nth-of-type(4) {
  right: 92px;
  top: 106px;
}

/* div 4 */
#div_4 {
  border-bottom: 1px dashed #f0f0f0;
  height: 625px;
  width: 650px;
  padding: 60px;
  position: relative;
  border-top: 1px dashed #f0f0f0;
}

.flex_max_div4 {
  display: flex;
  flex-direction: column;
  height: inherit;
  justify-content: space-around;
}
.flex_scale_div4 {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: space-between;
  position: absolute;
  right: 1px;
  top: 1px;
}
.max_div4 {
  border: 1px solid #f0f0f0;
  width: 42px;
  height: 32px;
  padding: 10px;
}
.max_div4 p {
  font-size: 12px;
  font-weight: 400;
  color: #f0f0f0;
}
#div_4 img {
  height: inherit;
}
.about_zoo_div_4 {
  background-color: #061e2a;
  display: flex;
  flex-direction: column;
  z-index: 10;
  position: absolute;
  left: 207px;
  top: 112px;
}
.about_zoo_p_div_4 {
  display: flex;
  align-items: flex-start;
  padding: 10px;
  border: 1px solid #2dfebb;
  width: 323px;
  height: 48px;
}
.about_zoo_p_div_4 p {
  color: #f0f0f0;
  font-size: 28px;
  font-weight: 600;
  text-decoration: underline;
}
.about_zoo__div_4 {
  border-right: 1px solid #2dfebb;
  border-left: 1px solid #2dfebb;
  border-bottom: 1px solid #2dfebb;
  width: 323px;
  height: 184px;
  padding: 20px;
}
.about_zoo__div_4 p {
  color: #f0f0f0;
  text-align: justify;
  font-weight: 400;
  font-size: 16px;
}

.error_div_4 {
  background-color: #061e2a;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 175px;
  top: 144px;
  z-index: 6;
  opacity: 0;
  animation: strobe 0.8s infinite steps(1, start); /* Очень быстрое мигание */
}

.error_div_4:nth-of-type(1) {
  left: 143px;
  top: 176px;
  z-index: 6;
  animation-delay: 0s;
}

.error_div_4:nth-of-type(2) {
  left: 143px;
  top: 176px;
  z-index: 5;
  animation-delay: 0.16s; /* 0.8s / 5 элементов = 0.16s */
}

.error_div_4:nth-of-type(3) {
  left: 143px;
  top: 176px;
  z-index: 4;
  animation-delay: 0.32s;
}

.error_div_4:nth-of-type(4) {
  left: 112px;
  top: 208px;
  z-index: 3;
  animation-delay: 0.48s;
}

.error_div_4:nth-of-type(5) {
  left: 80px;
  top: 240px;
  z-index: 2;
  animation-delay: 0.64s;
}

@keyframes strobe {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
.error_p_div_4 {
  background-color: #061e2a;
  display: flex;
  align-items: flex-start;
  padding: 10px;
  border: 1px solid #2dfebb;
  width: 323px;
  height: 48px;
}

.error_p_div_4 p {
  color: #f0f0f0;
  font-size: 28px;
  font-weight: 600;
  text-decoration: underline;
}

.error__div_4 {
  border-right: 1px solid #2dfebb;
  border-left: 1px solid #2dfebb;
  border-bottom: 1px solid #2dfebb;
  width: 323px;
  height: 184px;
  padding: 20px;
}
.error__div_4 p {
  color: #f0f0f0;
  font-weight: 400;
  font-size: 16px;
}
/* flex 5 6 */
.flex_div5_div6 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 0px;
}
/* div 5 */
#div_5 {
  width: 394px;
  height: 270px;
  /* border-bottom: 1px dashed #f0f0f0; */
  display: flex;
  align-items: center;
  justify-content: center;
}
#div_5 p {
  font-size: 85px;
  line-height: 70%;
  font-family: P95-CYR;
  color: #2dfebb;
  margin: auto;
}
/* div 6 */
#div_6 {
  width: 886px;
  height: 350px;
  display: flex;
  flex-direction: row;
  /* border-bottom: 1px dashed #f0f0f0; */
  border-left: 1px dashed #f0f0f0;
}
.flex_animals_all {
  display: flex;
  flex-direction: row;
  gap: 70px;
  align-items: center;
  justify-content: center;
}
.animal_flex {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
}
.stroke_animal {
  width: 150px;
  height: 130px;
}
.nomber_animal {
  width: 52px;
}
.animal_flex p {
  font-size: 16px;
  color: #f0f0f0;
  font-weight: 400;
}
.flex_animal_shape {
  width: 766px;
  height: 213px;
  padding: 40px;
  display: flex;
  flex-direction: row;
  gap: 61px;
  justify-content: center;
}
/* div 7 */
#div_7 {
  width: 707px;
  height: 339px;
  border-bottom: 1px dashed #f0f0f0;
  border-top: 1px dashed #f0f0f0;
  background-image: url("../images/grid_div7.svg");
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
#div_7 img {
  height: 105px;
}
/* div 8 */
#div_8 {
  width: 600px;
  height: 473px;
  border: 1px dashed #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #061e2a;
}
.ACCUMULATED_SUIT_DATA {
  width: 453px;
  height: 68px;
  border: 1px solid #2dfebb;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}
.ACCUMULATED_SUIT_DATA p {
  font-weight: 600;
  font-size: 28px;
  color: #f0f0f0;
  text-decoration: underline;
}
.second_p_8_div {
  width: 453px;
  height: 61px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-left: 1px solid #2dfebb;
  border-right: 1px solid #2dfebb;
  border-bottom: 1px solid #2dfebb;
}
.second_p_8_div p {
  font-weight: 400;
  font-size: 16px;
  color: #f0f0f0;
}

.flex_div7_div8 {
  display: flex;
  flex-direction: row;
}
.flex_div9_div10 {
  display: flex;
  flex-direction: row;
}
/* div 9 */
#div_9 {
  padding: 90px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin: -60px 0;
  gap: 100px;
  width: 845px;
  height: 400px;
  /* border-bottom: 1px dashed #f0f0f0; */
  /* border-right: 1px dashed #f0f0f0; */
}
.border_scale_9_div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 46px;
  height: 343px;
  border: 1px solid #f0f0f0;
  overflow: hidden;
  position: relative;
}
.animation_scrollDown {
  display: flex;
  flex-direction: column;
  animation: scrollDown 20s linear infinite;
  padding: 5px 0;
  gap: -7px;
}
.animation_scrollDown:nth-last-of-type(1) {
  animation-delay: 0s;
}
.animation_scrollDown:nth-last-of-type(2) {
  top: 100%;
  animation-delay: -50s;
}

.scale_9_div {
  width: 26px;
  height: 90px;
  color: #f0f0f0;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

@keyframes scrollDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

/* div 10 */
#div_10 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 434px;
  height: 283px;
  border-bottom: 1px dashed #f0f0f0;
  border-right: 1px dashed #f0f0f0;
  border-left: 1px dashed #f0f0f0;
}
.dash_stroke_speed {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border: 3px dashed #2dfebb;
  border-radius: 100%;
}
.stroke_speed {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95px;
  height: 95px;
  border-radius: 100%;
  border: 3px solid #2dfebb;
}
.stroke_speed p {
  font-size: 26px;
  font-weight: 400;
  color: #2dfebb;
  margin: auto;
}
.under_icon_text_10_div {
  font-size: 28px;
  color: #f0f0f0;
  text-decoration: underline;
  font-weight: 400;
}
.flex_all_speed {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 121px;
  height: 163px;
}
.all_icon_flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 70px;
  margin: auto;
}
.flex_icon_world {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  perspective: 1000px;
}
.flex_icon_world img {
  animation: icon_world 2s linear infinite;
}
@keyframes icon_world {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.flex_health {
  width: 91px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.flex_health p {
  font-size: 25px;
  font-weight: 400;
  text-decoration: underline;
  color: #f0f0f0;
}
.flex_health img {
  width: 51px;
}
.flex_scales_9_div {
  display: flex;
  flex-direction: row;
  gap: 32px;
}
.each_modul_scale_11_div {
  width: 12px;
  height: 47px;
  border: 1px solid #f0f0f0;
  animation: chainGlow 13s infinite ease-in-out;
}

.each_modul_scale_11_div:nth-of-type(1) {
  animation-delay: 0s;
}
.each_modul_scale_11_div:nth-of-type(2) {
  animation-delay: 1s;
}
.each_modul_scale_11_div:nth-of-type(3) {
  animation-delay: 2s;
}
.each_modul_scale_11_div:nth-of-type(4) {
  animation-delay: 3s;
}
.each_modul_scale_11_div:nth-of-type(5) {
  animation-delay: 4s;
}
.each_modul_scale_11_div:nth-of-type(6) {
  animation-delay: 5s;
}
.each_modul_scale_11_div:nth-of-type(7) {
  animation-delay: 6s;
}
.each_modul_scale_11_div:nth-of-type(8) {
  animation-delay: 7s;
}
.each_modul_scale_11_div:nth-of-type(9) {
  animation-delay: 8s;
}

.flex_each_modul_scale_11_div {
  display: flex;
  flex-direction: row;
  gap: 6px;
}
.modul_scale_11_div p {
  font-size: 12px;
  font-weight: 400;
  color: #f0f0f0;
}
.modul_scale_11_div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 6px;
}
.flex_scale_11_div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #2dfebb;
  width: 146px;
  height: 278px;
}
/* div 11 */
#div_11 {
  width: 564px;
  height: 408px;
  border: 1px dashed #f0f0f0;
  display: flex;
  flex-direction: row;
  gap: 60px;
  justify-content: center;
  align-items: center;
}
.flex_text_div_11 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
}
.flex_text_div_11 p {
  font-weight: 400;
  font-size: 20px;
  color: #f0f0f0;
}
.you_win_text p {
  font-size: 48px;
  text-decoration: underline;
  color: #061e2a;
  font-weight: 400;
}
.you_win_text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 222px;
  height: 68px;
  background-color: #2dfebb;
}
.flex_texts_div_11 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
}
.flex_div11_div12 {
  display: flex;
  flex-direction: column;
}
/* 12 div */
#div_12 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  width: 564px;
  height: 377px;
  border: 1px dashed #f0f0f0;
}
.round_div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 187px;
  height: 187px;
  border: 1px solid #2dfebb;
  border-radius: 100%;
  z-index: -5;
  position: relative;
}
.round_div img {
  width: 18px;
}
.border_scale_9_div img {
  width: 26px;
}
.second_fex_plus {
  display: flex;
  justify-content: space-between;
  width: 235px;
  z-index: 2;
  position: relative;
}
/* div 13 */
#div_13 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px dashed #f0f0f0;
  width: 715px;
  height: 757px;
  gap: 45px;
}
.curator_student {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.curator_student p {
  font-size: 25px;
  color: #f0f0f0;
  font-weight: 400;
}
.font_D_div13 {
  font-family: Doppelganger;
  font-size: 128px;
  color: #2dfebb;
  line-height: 90%;
}
h1 {
  font-size: 128px;
  font-family: P95-CYR;
  color: #2dfebb;
  line-height: 90%;
  text-align: center;
}
.flex_11_12_13 {
  display: flex;
  flex-direction: row;
}
.flex_texts_div_11 H2 {
  font-size: 32px;
  color: #2dfebb;
  font-weight: 400;
}
.flex_texts_div_11 H3 {
  font-size: 20px;
  color: #2dfebb;
  font-weight: 400;
}
.second_flex_plus img {
  width: 44px;
}
