@media screen and (max-width: 768px) {
  .flex_div5_div6 {
    flex-direction: column;
  }

  #div_6 {
    border: none;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  #div_5 {
    height: auto;
    padding: 5vw 5vw 0vw 5vw;
    width: 100%;
  }

  #div_5 p {
    font-size: 9vw;
    line-height: 1;
    white-space: nowrap;
  }

  #div_5 .br,
  #div_5 br {
    display: none;
    visibility: hidden;
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
    content: "";
  }

  #div_10 {
    flex-direction: column;
    border: none;
    width: 100vw;
    padding: 5vw 2vw;
    border-left: 1px dashed #f0f0f0;
  }
  .all_icon_flex {
    flex-direction: column;
    gap: 5vw;
    width: 100%;
  }

  .flex_icon_world,
  .flex_all_speed {
    width: 100%;
    align-items: center;
    gap: 3vw;
  }

  .flex_icon_world img,
  .flex_all_speed img {
    width: 10vw;
    height: 10vw;
  }

  .under_icon_text_10_div {
    font-size: 2vw;
  }
  .flex_div9_div10 {
    align-items: center;
  }
  #div_7 {
    height: 28vw;
  }
}
